@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;   

}

body{
    background: rgb(46, 149, 233);

}

.start_btn,
.info_box,
.quiz_box {
    position : absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);

}
.start_btn button{
    font-size : 25px;
    font-weight : 700;
    color :rgb(43, 29, 161);
    padding : 15px 30px;
    outline :none;
    border :none;
    border-radius :5px;
    background :white;
    cursor: pointer;
}

.info_box{
    display: none;
    width: 540px;
    background : white;
    border-radius: 5px;

}
.info_box .info_title {
    height: 60px;
    width : 100%; 
    border-bottom: 1px solid lightgrey;
    display : flex ;
    align-items: center;
    padding: 0 35px;
    font-size :20px;
    font-weight: 600;
}

.info_box .info_list{
    padding: 15px 35px;

}
.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;

}
.info_box .info_list .info span{
    font-weight :600;
    color :rgb(50, 146, 250);
}

.info_box .buttons{
    height : 60px;
    display: flex;
    align-items : center;
    justify-content: flex-end;
    padding : 0 35px;
    border-top: 1px solid beige;
}

.info_box .buttons button{
    margin: 0 5px;
    height : 40px;
    width: 100px;
    border: 1px solid rgb(50, 146, 250);
    /* background : rgb(50, 146, 250); */
    border-radius :5px;
    color :white;
    font-size: 16px;
    font-weight : 500;
    cursor : pointer;
}
.buttons button.quit{
    color : rgb(50, 146, 250);
    /* background: rgb(50, 146, 250); */
    /* border-color :rgb(50, 146, 250); */
}
.buttons button.quit:hover{
    color: white;
    background :rgb(50, 146, 250);
}
.buttons button.restart{
    color : white;
    background: rgb(50, 146, 250);
    /* border-color :rgb(50, 146, 250); */
}

.buttons button.restart:hover{
    background:rgb(57, 120, 255);
}
